@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionHeading {
  max-width: 55%;
  margin: 0 auto;

  @media screen and (max-width: 640px) {
    max-width: 100% !important;
  }

  h3 {
    text-transform: capitalize !important;
    @include RP(
      (
        "font-size": 40,
        "line-height": 48,
      ),
      1
    );
    color: $WHITE;
    @media screen and (max-width: 640px) {
      @include RP(
        (
          "font-size": 32,
          "line-height": 40,
        ),
        1
      );
    }
  }
  p {
    @include RP(
      (
        "font-size": 18,
        "line-height": 26,
      ),
      1
    );
    @media screen and (max-width: 640px) {
      max-width: 100% !important;
      margin-top: 0px !important;
    }
    color: #a7adbe !important;
  }
}
