@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.customBtnContainer {
  background-color: $BUTTON;
  border: 1px solid $PRIMARY;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  display: flex;
  color: $WHITE;
  @include RP(
    (
      "font-size": 14,
      "padding-left": 30,
      "padding-right": 30,
      "padding-top": 14,
      "padding-bottom": 14,
      "max-height": 45,
      "height": 45,
      "border-radius": 60,
    ),
    1
  );
  outline: 0px;
  transition: all 0.5s ease-in-out;

  .titleStyle {
    font-weight: 550 !important;
  }

  &:hover {
    opacity: 0.8 !important;
  }

  svg {
    @include RP(
      (
        "height": 18,
        "width": 18,
      )
    );
  }
}

.secondaryButton {
  background-color: rgba(var(--primary-color), 0.1) !important;
  color: rgba(var(--primary-color), 1) !important;
  border: none !important;
}

.tertiaryButton {
  background-color: transparent !important;
  color: rgba(var(--primary-color), 1) !important;
  border: none !important;
}

@media screen and (max-width: 768px) {
  .customBtnContainer {
    font-size: 11px;
    line-height: 16px;
  }
}
