@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.homeWrapper {
  position: relative;
  background-image: url("/app/_assets/images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  min-height: 100vh;
  z-index: 1 !important;
}
