@import "utils/colors.scss";
@import "utils/responsive.module.scss";

.badge_container {
  background-color: #000529;
  border: 1px solid #161c44;
  height: 40px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  width: fit-content !important;

  .badge_title {
    background-image: linear-gradient(
      45deg,
      rgb(54, 94, 255) 0%,
      rgb(176, 192, 255) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-transform: uppercase;
    font-size: 14px;
  }
}
