@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionWrapper {
  z-index: 100 !important;
  @include RP(
    (
      "padding-top": 15,
      "padding-bottom": 15,
      "margin-top": 100,
      "margin-bottom": 60,
    ),
    1
  );
  @media screen and (max-width: 510px) {
    margin-bottom: 0px !important;
    @include RP(
      (
        "margin-top": 40,
      ),
      1
    );
  }
  width: 100%;
  height: 100%;

  .sectionContainer {
    background-image: url("../../../../_assets/images/service-section-bg.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    @include RP(
      (
        "border-radius": 20,
        "height": 300,
      ),
      1
    );
    @media screen and (max-width: 768px) {
      height: auto !important;
      @include RP(
        (
          "margin-bottom": 50,
        ),
        1
      );
    }
    p {
      color: #6d7792 !important;
      @include RP(
        (
          "font-size": 18,
          "line-height": 26,
        ),
        1
      );
    }

    .particlesContainer {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      height: 100%;
      z-index: 1;
      overflow: hidden;
    }
  }

  .servicesContainer {
    .serviceItem {
      background-color: #00041f !important;
      background-image: url("../../../../_assets/images/service-card-bg.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top right;
      border: 1px solid #131839;
      @include RP(
        (
          "border-radius": 20,
          "padding": 30,
          "height": 480,
        )
      );
      @media screen and (max-width: 991px) {
        height: auto !important;
      }
      .content {
        @include RP(
          (
            "padding-right": 30,
          ),
          1
        );
        @media screen and (max-width: 640px) {
          padding-right: 0 !important;
        }
        .iconContainer {
          @include RP(
            (
              "width": 52,
              "height": 52,
            )
          );
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          @include RP(
            (
              "font-size": 36,
              "line-height": 44,
            )
          );
          color: $WHITE;
        }
        p {
          text-align: left;
          letter-spacing: 0.5px;
          @include RP(
            (
              "font-size": 18,
              "line-height": 26,
            ),
            1
          );
          color: #a7adbe;
        }
        button {
          @include RP(
            (
              "padding-left": 16,
              "padding-right": 16,
            ),
            1
          );
          svg {
            transform: rotate(-45deg);
          }
        }
      }
      .videoContainer {
        overflow: hidden !important;
        display: flex;
        align-items: center;
        justify-content: center;
        @include RP(
          (
            "border-radius": 20,
            "height": 420,
          ),
          1
        );
        @media screen and (max-width: 640px) {
          height: auto !important;
          max-height: 300px !important;
        }

        video {
          width: 100%;
          height: 100% !important;
          object-fit: cover;
          @include RP(
            (
              "border-radius": 20,
            ),
            1
          );
        }
      }
    }
  }

  .missionText {
    h2 {
      @include RP(
        (
          "font-size": 58,
          "line-height": 68,
        ),
        1
      );
      color: $WHITE;
      @media screen and (max-width: 640px) {
        @include RP(
          (
            "font-size": 40,
            "line-height": 50,
          ),
          1
        );
      }
    }
    p {
      max-width: 90%;
      @include RP(
        (
          "font-size": 20,
          "line-height": 28,
          "margin-top": 16,
        ),
        1
      );
      @media screen and (max-width: 640px) {
        max-width: 100% !important;
        margin-top: 0px !important;
      }
      color: $DESC;
    }
  }
}
