@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.inputLabel {
  font-weight: 500;
  font-size: 14px;
  color: $WHITE !important;
}

.asterik {
  color: $WHITE;
}

.readonly {
  background: $DARK;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $BORDER;
  // background-color: $GRAY2;
  @include RP(
    (
      "height": 50,
      "padding-left": 15,
      "padding-right": 15,
      "border-radius": 50,
    ),
    1
  );
  @media screen and (max-width: 640px) {
    height: 40px !important;
  }
}

.value {
  @include RP(
    (
      "font-size": 14,
    )
  );
  color: $WHITE !important;
}

.placeholder {
  @include RP(
    (
      "font-size": 14,
    )
  );
  color: $LIGHT_GRAY2 !important;
  @include elipsis(1);
}

.error {
  width: fit-content;
  color: #ea5b5b;
  font-size: 11px;
  text-align: left;
  z-index: 1;
  margin-left: 5px;
}

.iconStyle {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  svg {
    width: 100%;
  }
  path {
    stroke: $WHITE;
  }
}

.optionsContainer {
  position: absolute;
  top: 50px;
  z-index: 21;
  width: 100%;
  @include RP(
    (
      "max-height": 250,
    )
  );
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #f2f2f2;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: $PRIMARY;
  }
}
.customOptionsContainer {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 220px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  z-index: 2147483647 !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(46px);
  -webkit-backdrop-filter: blur(46px);
  background-color: rgba(0, 0, 0, 0.2);

  @include RP(
    (
      "border-radius": 14,
      "padding-top": 12,
      "padding-bottom": 12,
      "padding-left": 18,
      "padding-right": 18,
    ),
    1
  );
  opacity: 1 !important;
  pointer-events: auto;

  &::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1rem;
    background: transparent;
  }
}

.dropdownItem {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  padding: 4px 0;
  transition: all 0.2s ease-in-out;
  opacity: 1 !important;

  &:hover {
    opacity: 0.7 !important;
  }
}

.dropdownItemTitle {
  color: #fff;
  font-weight: 500;
  @include RP(
    (
      "font-size": 15,
    ),
    1
  );
}
