@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.inputLabel {
  font-weight: 500;
  font-size: 14px;
  color: $WHITE !important;
}

.asterik {
  color: $PRIMARY;
}

.readonly {
  background: $DARK;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $BORDER;
  // background-color: $GRAY2;
  @include RP(
    (
      "height": 50,
      "padding-left": 15,
      "padding-right": 15,
      "border-radius": 50,
    ),
    1
  );
  @media screen and (max-width: 640px) {
    height: 40px !important;
  }
}

.value {
  @include RP(
    (
      "font-size": 14,
    )
  );
  color: $WHITE !important;
}

.placeholder {
  @include RP(
    (
      "font-size": 14,
    )
  );
  color: $LIGHT_GRAY2 !important;
  @include elipsis(1);
}

.error {
  width: fit-content;
  color: #ea5b5b;
  font-size: 11px;
  text-align: left;
  z-index: 1;
  margin-left: 5px;
}

.iconStyle {
  margin: 0;
  padding: 0;
  @include RP(
    (
      "height": 24,
      "width": 24,
    )
  );
  path {
    stroke: $WHITE;
  }
}

.optionsContainer {
  top: 50% !important;
  z-index: 21;
  width: 100%;
  @include RP(
    (
      "max-height": 250,
    )
  );
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #f2f2f2;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: $PRIMARY;
  }
}
