@import "utils/colors.scss";
@import "utils/responsive.module.scss";

.mainContainer {
  position: fixed;
  z-index: 999999;
  width: 100%;

  // filter: blur(1.5rem);
}
.contentContainer {
  border: 1px solid $BORDER !important;
  border-radius: 100px;
  @include RP(
    (
      "height": 65,
      "padding-right": 11,
      "padding-left": 24,
    ),
    1
  );
}

.blurBackground {
  position: relative;
  background: transparent;
  color: #fff;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
}

.blurBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 8%);
  // background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: -1;
  backdrop-filter: blur(10px);
}
.logoContainer {
  span {
    transition: all 0.2s ease-in-out !important;
    color: rgba($color: #fff, $alpha: 0.8);
    @include RP(
      (
        "font-size": 22,
      )
    );
  }
  &:hover {
    span {
      color: #fff !important;
    }
  }
}

.logo {
  @include RP(
    (
      "height": 31,
      "width": 31,
    )
  );
}

.navlabels {
  cursor: pointer;
  color: rgba($color: #fff, $alpha: 0.8) !important;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  @include RP(
    (
      "font-size": 14,
      "line-height": 24,
    )
  );
  &:hover {
    color: rgba($color: #fff, $alpha: 1) !important;
  }
}

// .joinUsBtn {
//   background-color: rgba(var(--primary-color), 1);
//   border: 1px solid transparent;
//   border-radius: 6px;
//   font-family: "Red Hat Display" !important;
//   font-weight: 400 !important;
//   display: flex;
//   gap: 8px;

//   @include RP(
//     (
//       "font-size": 16,
//       "line-height": 24,
//     )
//   );
// }

@media screen and (max-width: 600px) {
  .mainContainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .getAppbtn {
    padding: 10px;
    @include RP(
      (
        "font-size": 14,
        "line-height": 21,
      )
    );
  }
}
